.full-error-logs {
  flex: 1;
  min-width: 560px;

  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 20px;
  padding: 24px;

  box-shadow: 0 2px 12px rgba(0,0,0,0.08);

  transition:
    background-color 0.25s ease,
    border-color 0.25s ease;
}

.full-errors-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;
}

.error-log-controls {
  display: flex;
  
  gap: 16px;
  margin-bottom: 1rem;
}

/* search bar */
#search {
  font-family: var(--sans);
  font-size: 16px;
  color: var(--text);

  background: var(--card);
  
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 8px;

  width: stretch;
}

/* filter setting */
.filter {
  font-family: var(--sans);
  font-size: 16px;
  color: var(--text);

  background: var(--card);

  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 8px;

  width: fit-content;
  margin-left: auto;
}

/* error level colors */
.full-error-level-dot.error {
  background: var(--red);
}
.full-error-level-dot.warn {
  background: var(--amber);
}
.full-error-level-dot.info {
  background: var(--green);
}

/* full errors table */
.full-errors-table {
  width: 100%;
  color: var(--text);
  
  border-top: 2px solid var(--border);
  padding-top: 10px;

  border-collapse: separate;
  border-spacing: 0 20px; 

  th:nth-child(1),
  td:nth-child(1) {
    width: 10%;
  };
  th:nth-child(2),
  td:nth-child(2) {
    width: 10%;
  };
  th:nth-child(3),
  td:nth-child(3) {
    width: 40%;
  };
  th:nth-child(4),
  td:nth-child(4) {
    width: 30%;
  };
  th:nth-child(5),
  td:nth-child(5) {
    width: 10%;
  };
}

.full-errors-table th {
  text-decoration: underline;
}

.full-errors-table td {
  font-weight: bold;
  text-align: center;
}

.full-level-status {
  min-width: 100px;
}

.full-error-level-dot {
  display: inline-block;
  vertical-align: -0.125rem;
  width: 16px;
  height: 16px;
  border-radius: 999px;
}
